export(add_levels)
export(lapply_names)
export(merge_factors)
export(nested_adonis)
export(paste_factors)
export(remove_levels)
export(rename_levels)
export(shuffle_between_groups)
export(shuffle_within_groups)
export(theme_kyle)
